*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    overflow-x: hidden;
}
nav .navbar-light .navbar-nav .nav-link{
    color: black;
}


/**
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/**
fondo de colores
*/
.fondo-azul-oscuro{
    background-color: #0C5FAB;
}

.fondo-azul-claro{
    background-color: #0192DE;
}
/*
    Tipo de letra
*/


/* width */

/**
Colores
*/
.color-white{
    color: white;
}
.color-link-gris{
    color: #1D1D1A;
}
.color-azul-oscuro{
    color: #0C5FAB;
}
.color-azul-claro{
    color: #0192DE;
}
/**
*    peso de letra
*/
.font-weight-600{
    font-weight: 600;
}
/**
Tamaños de letra
*/
.font-size-40{
    font-size: 40px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-21{
    font-size: 21px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-11{
    font-size: 11px;
}


.header{
    font-size: 73%;
}
.header *{
    color: #ffffffeb;
}
.header a{
    text-decoration: none;
}
.header a:hover,
.header a:focus
.header a:active{
    color: white;
}

input::placeholder,
input,
textarea{
    font-size: 12px;
    color: #1D1D1A;
}


.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.categoria-producto a:hover,
.categoria-producto a:focus,
.categoria-producto a:active{
    color: white;
}
.table-servicios td{
    border: 1px solid white;
}
td.claro{
    top: 542px;
    left: 958px;
    width: 51px;
    height: 14px;
    background: var(--unnamed-color-0c5fab) 0% 0% no-repeat padding-box;
    background: #0C5FAB 0% 0% no-repeat padding-box;
    opacity: 0.3;
}
td.oscuro{
    top: 570px;
    left: 1057px;
    width: 49px;
    height: 14px;
    background: var(--unnamed-color-0c5fab) 0% 0% no-repeat padding-box;
    background: #0C5FAB 0% 0% no-repeat padding-box;
    opacity: 1;
}
.underline{
    text-decoration: none !important;
}
.underline:hover{
    text-decoration: underline !important;
}

/*
input:focus,
input:active{
    border: none !important;
    box-shadow: none !important;
}
*/
#heroProducto p{
    font-size: 20px;
    line-height: 30px;
}

.card{
    background-color: transparent;
    border: none;
}

.producto .mas{
    width: 100%;
    height: 100%;
    background-color: #80808021;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.producto .position-relative:hover .mas.position-absolute{
    display: flex;
}

.producto .mas img{
    border:none;
}
.producto p a{
    color: #1D1D1A;
    font-size: 17px;
    text-decoration: none;
}

.producto p a:hover{
    color: #1D1D1A;
    text-decoration: none;
    font-weight: 600;
}
aside li{
    border-top: 1px solid #E5E5E5;
}
aside li a{
    color: #1D1D1A;
}
aside li.active a{
    font-weight: 600;
}
.color-producto{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
td{
    vertical-align: middle;
}
.contenido-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;   
}
.eliminar-item-presupuesto{
    font-size: 16px;    
}
.head{
    background-color: #F4F4F4;
}
.head .container{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #0192DE;
    text-transform: uppercase;
}
.head .container h2{
    font-weight: 700;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: '/';
}
.form-control:focus{
    box-shadow: none;
}
.m-top{
    margin-top: 110px;
}
@media (min-width: 50px){
    .categoria-producto{
        bottom: 0; 
    }
    .contenedor-color{
        width: 100%;
        height: 94px;
    }

    #hilos-libertad h5{
        font-size: 1.25rem;
    }
    #sliderHeroEmpresa .carousel-indicators {
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@media (min-width: 768px){
    .m-top{
        margin-top: 150px;
    }
    .categoria-producto{
        bottom: 70px;
    }

    .rcard{
        max-width:200px; 
        min-width:200px
    }

    .contenedor-color{
        width: 30%;
    }

    .contenedor{
        max-width: 200px;
        min-width: 200px;
        min-height: 100px;
        max-height: 100px;
    }

    #hilos-libertad h5{
        font-size: 30px;
    }

    #sliderHeroEmpresa .carousel-indicators{
        bottom: 70px;
    }
    .w-md-48{
        width: 48% !important;
    }
}

@media (min-width: 920px){
    .contentHero{
        margin-top: 100px;;
    }
    nav.navbar-light .navbar-nav .nav-link{
        font-size: 90%;
    }
    .categoria-producto .container{
        max-width: 980px;
        
    }

    .contenedor-color{
        width: 18%;
    }

    nav.navbar-light .navbar-nav .nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -38px;
        height: 5px;
        background-color: #1790df;
    }
}
@media (max-width: 720px){
    .font-size-40{
        font-size: 30px;
    }
    #heroProducto h2{
        font-size: 19px;
    }
    .logo-header{
        max-width: 150px;
    }
    .ancho-boton{
        width: 100%;
    }
    #heroProducto p{
        font-size: 15px;
    }
    .rcard{
        max-width:50%; 
        min-width:50%;
    }
}

@media (max-width: 500px){
    .logo-header{
        max-width: 100px;
    }

    .rcard{
        max-width:100%; 
        min-width:100%;
    }
}
